@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/eMajskeIgre.png" alt="logo" width=500px>

    <p style = "margin-top: 30px; text-align: justify; text-justify: inter-word;">
        Majske igre is the largest student project in Slovenia, encompassing three main categories: culture, sports, and entertainment. The organizer of this three-week event is the Student Council of the public institution Študentski dom Ljubljana. The purpose of these games is to provide students with numerous cultural, sports, and musical experiences while maintaining a tradition that has been upheld since 1983 and, on average, attracts 30,000 visitors.
    </p>
    <p style="position: absolute; bottom: 20%; transform: translate(-50%, 50%); left: 50%;">
        Outdoor sports are dependent on weather conditions. In the event of the cancellation of a sports discipline, information will be promptly announced at the information point and on the website www.majske-igre.si. In case a sports discipline is canceled, participants have the option of a refund or receiving a Majestic Games 2023 shirt.
        <br>
        Registration fees are non-refundable! The number of slots in individual competitions is limited. In sports where there is no registration fee, there are no shirts. 
        <br>
        Events are intended for students only! 
        <br>
        Each participant competes at their own risk. 
        <br>
        Registration must be completed at least ONE DAY before the sports event! Registration fees for sports increase by €2 on the day of the event!
        <br> 
        Registration is confirmed upon payment! Payment is possible until 12:00 on the day of the event.
    </p>
</div>


