@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/eMajskeIgre.png" alt="logo" width=500px>

    <p style = "margin-top: 30px; text-align: justify; text-justify: inter-word;">
        Majske igre is the largest student project in Slovenia, encompassing three main categories: culture, sports, and entertainment. The organizer of this three-week event is the Student Council of the public institution Študentski dom Ljubljana. The purpose of these games is to provide students with numerous cultural, sports, and musical experiences while maintaining a tradition that has been upheld since 1983 and, on average, attracts 30,000 visitors.
    </p>
    <p style="position: absolute; bottom: 20%; transform: translate(-50%, 50%); left: 50%;">
        Zunanji športi so odvisni od vremenskih pogojev. V primeru odpovedi športne discipline, bodo informacije pravočasno objavljene na info točki in spletni strani www.majske-igre.si. V primeru, da športna disciplina odpade, imajo tekmovalci možnost vračila denarja ali prevzema majice Majske igre 2023.
        <br>
        Prijavnin se ne vrača! Število mest na posameznih tekmovanjih je omejeno. Pri športih kjer ni prijavnine, ni majic.
        <br>
        Dogodki so namenjeni samo študentom! 
        <br>   
        Vsak tekmuje na lastno odgovornost.
        <br>
        Prijaviti se je potrebno vsaj EN DAN pred športnim dogodkom! Prijavnine za šport se na dan dogodka zvišajo za 2€!
        <br>
        Prijava je potrjena s plačilom!
        <br>
        Plačilo je možno najkasneje do 12.00 na dan dogodka.
    </p>
</div>


